@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add an engineer</h1>
<hr>
<h3>Add an engineer for this machine: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}