@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a machine</h1>
<hr>
<h3>Add a machine this Engineer: @Html.DisplayFor(model => model.Name), can work on</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}